* {
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 1rem;
}

#root {
  height: 100vmax;
  background-color: $color-secondary;
  font-family: $font-primary;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-secondary;
  z-index: -1;
}

.unsplash-search-page {
  display: block;
  width: 70.4375rem;
  max-width: 100%;
  margin: 0 auto 1.25rem auto;
  padding-bottom: 1.25rem;
  border-bottom: $border-light;
}

// Search Bar
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: $white;
  font-size: 1rem;
  padding: 1rem;
  border: $border-light;
  box-shadow: $box-shadow;
  border-radius: .25rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
  @include respond-to ($breakpoint-small) {
    margin-bottom: 0.75rem;
    padding: 0.5rem;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    flex: 7.5rem 0;
    align-items: center;
    background-image: url('./icons/unsplashLogo.svg');
    background-repeat: no-repeat;
    background-position-x: 13px;
    background-position-y: center;
    background-size: 14%;
    
    @include respond-to ($breakpoint-small) {
      background-position-x: 9px;
    }

    .logo {
      width: 3.75rem;
      height: 3.75rem;
      @include respond-to ($breakpoint-small) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    @media (prefers-reduced-motion: no-preference) {
      .logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }

    h1 {
      margin: 0 2.5rem 0 -.625rem;
      font-size: 2.1875rem;
      @include respond-to ($breakpoint-small) {
        margin: 0 1rem 0 0;
        font-size: 1.5625rem;
      }
    }
  }
  .form {
    position: relative;
    flex: 1;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    .field {
      input {
        -webkit-appearance: none;
        box-sizing: border-box;
        height: 2.8125rem;
        width: 100%;
        padding: .59375rem .875rem;
        border: $border-dark;
        border-radius: 1.5625rem;
        @include respond-to ($breakpoint-small) {
          height: 2.25rem;
        }
        &::placeholder {
          color: $color-quaternary;
          padding-left: .625rem;
          @include respond-to ($breakpoint-small) {
            font-size: .75rem;
          }
        }
        &::active {
          color: $color-secondary;
          -webkit-appearance: none;
        }
        &::focus {
          color: $color-secondary;
          -webkit-appearance: none;
        }
      }
    }
  }
}

.image-list {
	display: grid;
  justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 0 .625rem;
	grid-auto-rows: 10px;
  margin: 0 .625rem;
}

.image-list img {
	width: 15.625rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}