// Colors
$white: #ffffff;

$antique-brass: #cb997eff;
$desert-sand: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$ash-gray: #b7b7a4ff;
$artichoke: #a5a58dff;
$ebony: #6b705cff;

$shadow-black: #22242626;

// Color Scheme
$color-primary: $antique-brass;
$color-secondary: $champagne-pink; 
$color-tertiary: $artichoke; 
$color-quaternary: $ebony;

// Shadows & Borders
$box-shadow: 0 .0625rem .125rem 0 $color-tertiary;
$border-light: 1px solid $color-primary;
$border-dark: 1px solid $color-tertiary;
$border-grey: 1px solid $color-quaternary;